%h3 Dashboard
=link_to "Home", root_path

-content_for :content_body do


  #shop-stats.span-8
    =render :partial => 'table_for', :object=>shop_rows
       
  #user-stats.span-8.last
    =render :partial => 'table_for', :object=>user_rows

  #claim-stats.span-8
    =render :partial => 'table_for', :object=>claim_rows

  #order-stats.span-8.last
    =render :partial => 'table_for', :object=>order_rows

  #queue-stats.span-8
    =placeholder
    -#=render :partial => 'table_for', :object=>user_rows

  #claim-stats.span-8.last
    =placeholder
    -#=render :partial => 'table_for', :object=>user_rows

  #other.span-8
    =placeholder
    =link_to "Generic Menus", menus_path
    =link_to "Franchises and Cuisines", cuisines_path
