-form_for form do |f|
  =f.label :name
  =f.text_field :name         
  
-if @shop.menus.empty?
  No menus yet.
-else
  -@shop.menus.each do |menu|
    %ul
      %li=link_to menu.name, edit_menu_path(menu)
=link_to "Add Menu", new_shop_menu_path(@shop)
