-content_for :head do
  :javascript 
  
    google.load("maps", "2");
    google.setOnLoadCallback(initialize_shop_form_map);
    
    $(function() { // page ready   


      $('#shop_street_address').change(function(e) { 
        var address = $('#shop_street_address').val();
        if ($('#shop_postal_address').val() == "") {
          $('#shop_postal_address').val(address);
        }
        geocode(address, $('#shop_name').val());
      })
      
      function populateField(selector, value) {
        field = $(selector)
        if (field.val() == "") {
          field.val(value);
        } 
      }
      
      $('#shop_name').change(function(e) {
        //populateField("#shop_permalink", toPermalink($(this).val()));
        populateField("#shop_website", toShopUrl($(this).val()));
      })
      
      $('#shop_permalink').change(function(e) {
        populateField("#shop_website", toShopUrl($(this).val()));
      })
      

    })

-semantic_form_for @shop, :html=>{:multipart=>true} do |f|
  #tabs.ui-tabs
    %ul
      %li
        %a{:href=>'#menus'} Menus
      %li
        %a{:href=>'#contact'} Contact
      %li
        %a{:href=>'#hours'} Hours
      %li
        %a{:href=>'#theme'} Theme
      %li
        %a{:href=>'#cuisine'} Cuisine
      %li
        %a{:href=>'#menu_details'} Import
      %li
        %a{:href=>'#ordering'} Ordering
      
    %li#menus.ui-tabs-hide
      != render :partial => 'shared/menu_legend'
      %ul.menus
        -f.fields_for :menus do |menu_f|
          != render 'menu_fields', :f=>menu_f
        %li.add_fields_control  
          =link_to_add_fields "Add Menu", f, :menus

    %li#hours.ui-tabs-hide
      Opening hours for this restaurant.
      %table.operating-times
        %thead
          %tr
            %th Days
            %th From
            %th Until
        %tbody
          -f.fields_for :operating_times do |operating_times_f|
            != render 'operating_time_fields', :f=>operating_times_f
          %tr
            %td.add_fields_control=link_to_add_fields "Add", f, :operating_times

    
    -f.inputs do
      / -if @shop.new_record?
      /   =f.input :permalink, :hint=>"Unique name, no spaces. Can't be changed"  
      -f.inputs :name=>"Contact Details", :id=>:contact, :class=>'bordered ui-tabs-hide' do
        -if current_user and current_user.is_admin?
          =f.input :owner_email, :hint=>"Assign this user as the manager of the shop"
          =f.input :permalink, :hint=>"This shops unique identifier as used in their URL"
        =f.input :name, :hint=>"Restaurant's title as it will appear at top of page"
        =f.input :street_address, :hint=>"Physical location of the restaurant"
        =f.input :lat, :as=>:hidden
        =f.input :lng, :as=>:hidden 
        =f.input :postal_address, :hint=>"For snail mail"
        =f.input :email_address, :hint=>"For enquiries or bookings"
        =f.input :website, :hint=>"If one exists"
        =f.input :phone, :hint=>"To call for bookings"
        =f.input :fax, :hint=>"If available"
      / =f.input :fee_threshold, :hint=>"Customer must pay the transaction fees on orders less than this amount"
      -f.inputs :name=>"Theme", :id=>:theme, :class=>'bordered ui-tabs-hide' do
        =f.input :header_background, :hint=>"Upload an image to appear above the shop's menu"
        =f.input :display_name, :hint=>"Uncheck if your header background includes the name"
        =f.input :border_background, :hint=>"Upload an image to appear around the shop's menu"
        =f.input :tile_border, :hint=>"Repeat the border image"
      -f.inputs :name=>"Cuisine", :id=>:cuisine, :class=>'bordered ui-tabs-hide' do
        =f.input :franchise, :hint=>"Does the shop belong to one of these franchises?", :collection=>Cuisine.is_franchise
        =f.input :cuisines, :as=>:check_boxes, :hint=>"What are your specialities", :collection=>Cuisine.is_not_franchise
      -f.inputs :name=>"Menu Import", :id=>:menu_details, :class=>'bordered ui-tabs-hide' do
        =f.input :menu_data, :as=>:text, :hint=>"Import menus: menu_name, item_name, description, price(s), flavour(s)"
      -f.inputs :name=>"Ordering", :id=>:ordering, :class=>'bordered ui-tabs-hide' do
        -if @shop.can_have_queues?
          =f.input :accept_pay_in_shop, :label=>"Accept in-shop payments"
          -if @shop.can_enable_paypal_payments?
            =f.input :accept_paypal_orders, :label=>"Accept payment online with PayPal"
        =f.input :deliver, :label=>"Offer to deliver"
        =f.input :delivery_area, :hint=>"What area(s) will you deliver to?"
        =f.input :delivery_fee, :hint=>"How much extra if delivered?"
        =f.input :minimum_for_free_delivery, :hint=>"Delivery is free for orders this amount or over"
        =f.input :refund_policy, :hint=>"A link to this will appear at the bottom of your menu"
        
    %p
      =submit_tag "Save Changes", :id=>'save-shop'    
      \|
      =link_to "Cancel", shop_new_order_path(@shop)
  
  
-content_for :aside do
  #map(style="width: 310px; height:500px")
