-content_for :head do
  !=import_google_api

  :javascript 
  
    google.load("maps", "2");
    google.setOnLoadCallback(initialize_shop_form_map);
    
    $(function() { // page ready   


      $('#shop_street_address').change(function(e) { 
        var address = $('#shop_street_address').val();
        if ($('#shop_postal_address').val() == "") {
          $('#shop_postal_address').val(address);
        }
        geocode(address, $('#shop_name').val());
      })
      
      function populateField(selector, value) {
        field = $(selector)
        if (field.val() == "") {
          field.val(value);
        } 
      }
      
      $('#shop_name').change(function(e) {
        populateField("#shop_permalink", toPermalink($(this).val()));
        populateField("#shop_website", toShopUrl($(this).val()));
      })
      
      $('#shop_permalink').change(function(e) {
        populateField("#shop_website", toShopUrl($(this).val()));
      })
      

    })

-semantic_form_for @shop, :html=>{:multipart=>true} do |f|
  -f.inputs do
    =f.input :name, :hint=>"Restaurant's title as it will appear at top of page"
    -if @shop.new_record?
      =f.input :permalink, :hint=>"Unique name, no spaces. Can't be changed"
    =f.input :street_address, :hint=>"Physical location of the restaurant"
    =f.input :postal_address, :hint=>"For snail mail"
    =f.input :email_address, :hint=>"For enquiries or bookings"
    =f.input :website, :hint=>"If one exists"
    =f.input :phone, :hint=>"To call for bookings"
    =f.input :fax, :hint=>"If available"
    =f.input :fee_threshold, :hint=>"Customer must pay the transaction fees on orders less than this amount"
    =f.input :lat, :as=>:hidden
    =f.input :lng, :as=>:hidden 
    =f.input :header_background, :hint=>"Upload an image to appear above the shop's menu"
    =f.input :franchise, :hint=>"Does the shop belong to one of these franchises?", :collection=>Cuisine.is_franchise
    =f.input :cuisines, :as=>:check_boxes, :hint=>"What are your specialities", :collection=>Cuisine.is_not_franchise
  =f.buttons
  
-content_for :aside do
  #map(style="width: 310px; height:500px")
