%li.fields
  =f.label :name
  =f.text_field :name
  .controls
    =link_to_remove_fields "x", f
  %br
  =f.label :description
  =f.text_field :description
  %br
  =f.label :price
  =f.text_field :price, :size=>4
  (if no sizes)
  %br
  =f.label 'Sizes'
  %ul.sizes
    -f.fields_for :sizes do |size_f|
      != render 'size_fields', :f=>size_f
    %li.add_fields_control
      =link_to_add_fields "Add", f, :sizes
  %br
  =f.label 'Flavours'
  %ul.flavours
    -f.fields_for :flavours do |flavour_f|
      != render 'flavour_fields', :f=>flavour_f
    %li.add_fields_control
      =link_to_add_fields "Add", f, :flavours
