-menu=f.object
%li.fields
  =f.hidden_field :position
  %h5.menu-header=f.text_field :name, :class=>'editable'
  =link_to_remove_fields "x", f 
  %a{:name=>menu.id}
  %ul.menu
    -f.fields_for :menu_items do |menu_item_f|
      != render 'menu_item_fields', :f=>menu_item_f
    %li.add_fields_control
      =link_to_add_fields "Add Item", f, :menu_items
