%li.fields
  =link_to_remove_fields "delete", f
  %h5.title=f.text_field :name, :class=>'editable'
  %ul.menu
    -f.fields_for :menu_items do |menu_item_f|
      != render 'menu_item_fields', :f=>menu_item_f
    %li.add_fields_control
      =link_to_add_fields "Add Item", f, :menu_items
