#shop-header.span-24.last
  .span-1
    =placeholder :size=>"1x180"
  .span-10
    -if shop.new_record?
      %h2 New Shop
    -else
      %h2
        != shop.display_name ? h(shop.name) : '&nbsp;'
        
  #opening-times
    %table
      -unless shop.operating_times.empty?
        %thead
          %tr
            %th Opening Times
      -shop.operating_times.each do |opening|
        %tbody
          %tr
            %td
              =h opening.days
            %td
              =h opening.opens_and_closes
      %tfoot
        %tr
          %td
            =h @shop.street_address
            -if @shop.phone and @shop.phone.length > 0
              %br
              Ph: #{h @shop.phone}
          %td
            -if @shop.accepts_paypal_payments?
              != render :partial => 'shops/now_accepting_paypal'


.span-24.last
  .no-print
    %p=separated(links_for_shop(shop))
          