.content-header
  %h1=h shop.name
  =h shop.state
  -if shop.can_edit?(current_user)
    =link_to "Edit Shop", edit_shop_path(shop)
  .opening-times
    %h3 Opening Times
    %table
      -shop.operating_times.each do |opening|
        %tr
          %td
            =h opening.days
          %td
            =h opening.opens_and_closes
