#shop-header.span-24.last
  .span-1
    =placeholder :size=>"1x180"
  .span-10
    -if shop.new_record?
      %h2 New Shop
    -else
      %h2=h shop.name
      .no-print
        %p=separated([claim_shop_link(shop), edit_shop_link(shop), order_history_link(shop), place_order_link(shop)])
        -if current_user.andand.can_access_queues_of?(shop)
          %h6 Queues
          =separated((shop.customer_queues + shop.item_queues).map {|q| link_to_unless_current(q.name,q)})
  #opening-times
    %table
      -unless shop.operating_times.empty?
        %thead
          %tr
            %th Opening Times
      -shop.operating_times.each do |opening|
        %tbody
          %tr
            %td
              =h opening.days
            %td
              =h opening.opens_and_closes
      %tfoot
        %tr
          %td
            =h @shop.street_address
          %td
            -if @shop.accepts_paypal_payments?
              != render :partial => 'shops/now_accepting_paypal'
          