#shop-header.span-18.last
  .span-1
    =placeholder :size=>"1x180"
  .span-11 
    %h1=h shop.name
    =h shop.state
    =edit_shop_link(shop)
  #opening-times.span-6.last
    %h3 Opening Times
    %table
      -shop.operating_times.each do |opening|
        %tr
          %td
            =h opening.days
          %td
            =h opening.opens_and_closes
