.span-7
  .queues
    %h4 Queues
    %p Queues are lists of order items that your customers have placed.
    %p If queuing is enabled below, you must monitor your queues during business hours so that you can make the items your customers order.
    != render :partial => 'queuing_enabled_status'
    %p
      -if @shop.item_queues.empty?
        No queues yet.
      -else
        %ul#item-queues-list= render :partial => @shop.item_queues
      %p=link_to "Add Queue", new_shop_item_queue_path(@shop)       
.span-7.last
  %h4 PayPal
  #paypal-status
  != render :partial => 'paypal_status'
