-content_for :head do    

  !=import_google_api

  :javascript

    function search_form_geocode(term, form) {
      geocoder.getLatLng(term, function(point) { 
        if (point) { 
          $('#search_lat').val(point.lat());
          $('#search_lng').val(point.lng());   
        }
        form.geocoded = true;
        form.submit();
      });
    }

    $(function() { // page ready    
      var form = $("#search_form");
      form.geocoded = false;
      form.submit(function() {
        if (!form.geocoded) {
          term = $("#search_term").val();
          if (term.length == 0) {  
            return false;
          }           
          search_form_geocode(term, form);
        }
        return form.geocoded;
      });
    });

    google.load("maps", "2");
    //google.setOnLoadCallback(initialize_geocoder);

    $(function() { // page ready
      initialize_geocoder();
    }
    );

.search-panel       
  &nbsp;
  -semantic_form_for @search, :url=>search_shops_path, :html=>{:id=>'search_form', :method=>'get'} do |f|
    -f.inputs do
      = f.input :cuisine, :required=>false, :as=>:select, :include_blank=>'-- Any --', :collection=>cuisines_for_select, :hint=>"...or franchise"
      = f.input :term, :required=>false, :label=>'Location:', :hint=>"Town, Suburb or Address"
      = f.input :lat, :as=>'hidden'
      = f.input :lng, :as=>'hidden'
    - f.buttons do
      =f.commit_button :button_html=>{:value=>'Search'}
