-shop = tooltip
.tooltip
  %h3=h shop.name
  %p
    =h shop.street_address
  -if current_user.andand.can_access_queues_of?(shop)
    %h6 Queues
    =separated((shop.customer_queues + shop.item_queues).map {|q| link_to(q.name,q)})
  
  %p
  
  %p.edit-shop
    =separated([edit_shop_link(shop), claim_shop_link(shop)])
