%h2="#{@shops.size} Shops"

%table
  %thead
    %tr
      %th Restaurants with no cuisine assigned
  %tbody
    != render :partial => 'shops/shop_entry', :collection=>@shops
    
  =separated([admin_link_to("Import Shops", import_form_shops_path), admin_link_to("Guess Cuisines", guess_cuisines_for_shops_path, :method=>:put)])