-content_for :content_header do
  = render :partial => 'shops/page_header', :locals=>{:shop=>@shop}

-content_for :javascript do
  :javascript
    make_sortable('menus', 'shops', '#{@shop.id}');
    make_sortable('item-queues', 'shops', '#{@shop.id}');
    make_sortable('operating-times', 'shops', '#{@shop.id}');

    var needToConfirm = true;
  
    window.onbeforeunload = confirmExit;
    function confirmExit()
    {
    if (needToConfirm)
    return "You will lose any unsaved changes you have made. Are you sure you want to exit this page?";
    }


=render :partial=>'form', :object=>@shop
           

/ .span-7
/   .menus 
/     %h4 Menus
/     -if @shop.menus.empty?
/       No menus yet.
/     -else
/       %ul#menus-list= render :partial => @shop.menus
/     =link_to "Add Menu", new_shop_menu_path(@shop)
/ 
/ .span-7.last
/   .operating-times
/   %h4 Opening Hours
/   -if @shop.operating_times.empty?
/     No opening hours yet.
/   -else
/     %ul#operating-times-list= render :partial => @shop.operating_times
/   =link_to "Add Opening Time", new_shop_operating_time_path(@shop)
/   
