%h3 Edit Shops
   
=render :partial => 'back'
=render :partial=>'form', :object=>@shop

.menus 
  %h4 Menus
  -if @shop.menus.empty?
    No menus yet.
  -else
    -@shop.menus.each do |menu|
      %ul
        %li=link_to menu.name, edit_menu_path(menu)
  =link_to "Add Menu", new_shop_menu_path(@shop)


.queues
  %h4 Queues
  -if @shop.item_queues.empty?
    No queues yet.
  -else
    -@shop.item_queues.each do |queue|
      %ul
        %li=link_to queue.name, queue
  =link_to "Add Queue", new_shop_item_queue_path(@shop)
  