= render :partial => 'shops/search_panel'

%h2="#{pluralize @shops.size, 'restaurant'} found:"

%table
  -@shops.each_with_index do |shop, index|
    = render :partial=>"shop", :object=>shop, :locals=>{:index=>index}

!= render :partial => 'add_shop_blurb'
