%h3 Outstanding Claims

.pending
%h4 Unassigned Claims
%ul.pending
  -for claim in @pending_claims
    %li=link_to claim, review_claim_path(claim), :method=>:put

.mine
%h4 Claims I'm Reviewing
%ul.mine
  -for claim in @my_claims
    %li=link_to claim, root_path
