%h3 Claiming #{@shop}

%p
  By pressing Claim Now below, you are asserting that you are the manager and/or
  owner of #{h @shop.name} and that you agree to be bound by the shop owners terms
  of the #{link_to_site_terms}.

-semantic_form_for [@shop, @claim] do |f|
  -f.inputs do
    =f.input :first_name
    =f.input :last_name
    =f.input :agreement, :hint=>"Enter the words 'I agree' above to indicate that you accept the agreement.", :required=>true
  -f.buttons do
    =f.commit_button :button_html=>{:value=>'Claim Now'}
