%h3=h @claim

%h4 User

%p email: #{h @user.email}

%p claims: #{@confirmed_claims} successful,  #{@rejected_claims}  rejected, #{@outstanding_claims} outstanding

 
=link_to "All Claims", claims_path
=link_to "Confirm", confirm_claim_path, :method=>:put
=link_to "Reject", reject_claim_path, :method=>:put