%table.my-friends
  %thead
    %tr
      %th Friends
  %tbody
    =render :partial=>'friendships/friendship', :collection=>current_user.friendships
    %tr
      -form_for current_user.friendships.build, :url=>user_friendships_path(current_user) do |ff|
        %td(span=2)
          =ff.text_field :friend_email
          =submit_tag "Add"
