.blurb
  %h5 Lunch and Coffee Orders Made Easy

  %p
    Cafebop wrangles everyone's order into one so that you can print it out and hand it
    to the shop or queue direct to participating shops so that it's ready when you get there.

  %ol
    %li Find a shop
    %li Choose what you're having
    %li Invite your workmates
    %li Send or Print the order
  
.blurb
  %h5 Do you sell Takeaway Food or Coffee?
  %p
    Help customers find you.
    %ol
      %li Find or add your shop to Cafebop
      %li Claim the shop
      %li Make sure the menu is right
      %li Enable online queuing
