-if current_user
  -content_for :aside do
    != render :partial => 'shops_table'
    != render :partial => 'friends_table'
  != render :partial => 'current_orders'
  
= render :partial => 'shops/search_panel'

