
-if current_user
  -unless current_user.orders.current.empty?
    %h4 You have orders pending:
    %table.my-orders
      %thead
        %tr
          %th Date
          %th Shop
          %th Originator
      %tbody
        !=render :partial=>'orders/current_order', :as=>:order, :collection=>current_user.orders.current


  %h4 Friends
  %ul.my-friends=render :partial=>'friendships/friendship', :collection=>current_user.friendships
  =link_to "Add Friend", new_user_friendship_path(current_user)
  

= render :partial => 'shops/search_panel'

