#root.current
  .toolbar
    -unless current_page? root_path
      %a.back Back
    %h1 #{@title || @shop || "Cafebop"}
    %a#login-button.button.slideup{:href=>"#login"} Login
    %a#logout-button.button{:href=>"#"} Logout
  %ul
    %li.arrow
      %a{:href=>"#login"} Nearest Restaurants
      %a{:href=>"#login"} Search for nearby restaurants 
  
  -if @work_contracts
    %h1 My Restaurants
    %ul
      - @work_contracts.each do |work_contract|
        %li.arrow
          %a{:href=>'#show-shop', :target_id=>work_contract.shop_id} #{work_contract.shop}
        / %a{:href=>shop_path(work_contract.shop)} #{work_contract.shop}
