
-if current_user
  %h4 My Friends
  %ul.my-friends=render :partial=>'friendships/friendship', :collection=>current_user.friendships
  =link_to "Add Friend", new_user_friendship_path(current_user)

= render :partial => 'shops/search_panel'

