
-if current_user
  != render :partial => 'recent_orders'


  %h4 Friends
  %ul.my-friends=render :partial=>'friendships/friendship', :collection=>current_user.friendships
  =link_to "Add Friend", new_user_friendship_path(current_user)
  

= render :partial => 'shops/search_panel'

