%ul
  %li.arrow
    %a{:href=>"#login"} Nearest Restaurants
    %a{:href=>"#login"} Search for nearby restaurants 
    
-if @work_contracts
  %h1 My Restaurants
  %ul
    - @work_contracts.each do |work_contract|
      %li.arrow
        %a{:href=>shop_path(work_contract.shop)} #{work_contract.shop}
