- title "Cuisines"  
%h3 Cuisines and Franchises

%h4 Franchises
%table
  %tr
    %th Name
    %th Shops
    %th Menus
    =render :partial=>@franchises

%h4 Cuisines
%table
  %tr
    %th Name
    %th Shops
    %th Menus
    =render :partial=>@cuisines

%p= link_to "New Cuisine", new_cuisine_path
