- title "Cuisines"  
%h3 Cuisines and Franchises

%h4 Franchises
%table
  %tr
    %th Name
    %th Shops
    %th Menus
    =render :partial=>@franchises

%h4 Cuisines
%table
  %tr
    %th Name
    %th Shops
    %th Menus
    =render :partial=>@cuisines

%p= link_to "Add Franchise or Cuisine", new_cuisine_path  
%p= link_to "Bulk import", import_form_cuisines_path
