//@import rapid-ui.sass
//@import reset.sass
@import layout.sass
//@import elements.sass
//@import ordering.sass
//@import invite_others.sass              
@import colours.sass

 
  
  
.print-only, .hidden
  :display none           
  
  
h1, h2, h3, h4, h5, h6
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif


body, p, td, li, ul, ol
  font-family: Verdana,Helvetica,Arial,sans-serif
                                                  
.links a
  font-weight: bold

#page-footer
  :margin-top 90px
  :width  100%
  :background url(/gradient_images/54:8CBAD0:8CBAD0::18:666:555::27:555:AAA.png) repeat-x #FEFEFD

.email-message
  :background-color #FEFEFE
  :border-style solid 
  :border-color black
  :border-width 1px       
  
=header_font
  :font-family "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif
  :background  transparent
  :color #50341A
  
=header_underline
  :border-bottom-style solid 
  :border-bottom-color #B08B5E
  :border-bottom-width 1px

thead th
  +header_font
  +header_underline
  :font-size 2em    

.order-form thead th
  :font-size 1.5em    
  
h1,h2,h3,h4,h5,h6
  +header_font

h1
  :font-size 3.5em    

h2
  :font-size 3.2em    

h3
  :font-size 3em    

h4
  :font-size 2.5em    

h5
  :font-size 2em
  
h6
  :font-size 1.5em
  
  
.sub-total td, .total td, td.user-header
  :font-weight bold     
                       
  
#user_submit:hover
  background-image: url(../images/arrow-right-hover.gif)
  border: 5px solid #494848
  cursor: pointer


#search_form #search_submit, #new_user_session #user_session_submit, #new_user #user_submit
  -moz-border-radius-bottomleft: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  background-color: #E76F00
  background-image: url(../images/arrow-right.gif)
  background-position: 85% 50%
  background-repeat: no-repeat
  border: 5px solid #D8DECD
  clear: both
  color: #FFFFFF
  font-family: Helvetica
  font-size: 20px
  font-weight: bold
  letter-spacing: -1px
  padding: 15px 65px 15px 25px
  text-shadow: 0 0 5px #000000
  
#search_form, #new_user_session, #new_user
  -moz-border-radius-bottomleft: 15px
  -moz-border-radius-bottomright: 15px
  -moz-border-radius-topleft: 15px
  -moz-border-radius-topright: 15px
  background-color: #B0B6A6
  border: 5px solid #D8DECD
  color: #4A4D46
  margin-bottom: 50px
  margin-top: 40px
  padding: 20px 50px
  position: relative      

#content
  -moz-border-radius-bottomleft: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  -moz-box-shadow: 0 0 8px #888888
  background-color: #FFFFFF
  border: 5px solid #E3E7DB
  padding: 50px
  