//@import rapid-ui.sass
//@import reset.sass
//@import layout.sass
//@import elements.sass
//@import ordering.sass
//@import invite_others.sass              
@import colours.sass
@import mixins.sass 
  
.print-only, .hidden
  :display none           
  
  
h1, h2, h3, h4, h5, h6
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif


body, p, td, li, ul, ol
  font-family: Verdana,Helvetica,Arial,sans-serif
                                                  
.links a
  font-weight: bold

#page-footer
  :margin 2em auto
  :width  950px
  :display  block
  
  .logo
    :float  right
    
.email-message
  :background-color #FEFEFE
  :border-style solid 
  :border-color black
  :border-width 1px       
  
=header_font
  :font-family "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif
  :background  transparent
  :color #50341A
  
=header_underline
  :border-bottom-style solid 
  :border-bottom-color #B08B5E
  :border-bottom-width 1px

thead th
  +header_font
  +header_underline
  :font-size 2em    

.order-form thead th
  :font-size 1.5em    
  
h1,h2,h3,h4,h5,h6
  +header_font

h1
  :font-size 3.5em    

h2
  :font-size 3.2em    

h3
  :font-size 3em    

h4
  :font-size 2.5em    

h5
  :font-size 2em
  
h6
  :font-size 1.5em
  
  
.sub-total td, .total td, td.user-header
  :font-weight bold     
                       
  
#user_submit:hover
  background-image: url(/images/arrow-right-hover.gif)
  border: 5px solid #494848
  cursor: pointer


#search_form #search_submit, #new_user_session #user_session_submit, #new_user #user_submit
  +rounded-corners(10px)
  background-color: #E76F00
  +right_arrow_icon
  clear: both
  color: #FFFFFF
  font-family: Helvetica
  font-size: 20px
  font-weight: bold
  letter-spacing: -1px
  padding: 15px 65px 15px 25px
  text-shadow: 0 0 5px #000000
  
#search_form, #new_user_session, #new_user
  +rounded-corners
  background-color: #B0B6A6
  border: 5px solid #D8DECD
  color: #4A4D46
  margin-bottom: 50px
  margin-top: 40px
  padding: 20px 50px
  position: relative      

#search_form label, #new_user_session label, #new_user label
  margin-right: 20px
  font-size: 17px


#search_form input, #new_user_session select
  background-color: #666699


#search_form input, #new_user_session input, #new_user input
  margin: 10px 0px 5px
  background-color: #FFF
  border: none
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 5px           


#content
  +rounded-corners(10px)
  -moz-box-shadow: 0 0 8px #888888
  background-color: #FFFFFF
  border: 5px solid #E3E7DB
  padding: 50px


#account-status
  :float  left
  
#account-nav
  float: right
  margin-top: -10px


#page-header  
  :margin 1em auto
  :width  950px
  :display  block
  
  p
    margin-top: 20px

  a.btn
    background-color: #e76f00
    border: #d8e0ca 5px solid
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    color: #FFF
    padding: 10px
    text-decoration: none
    :margin 9px 15px 9px 0
    display: block
    float: left

    &:hover
      border: #FFF 5px solid     
    
  
table
  border-collapse: separate
  border: #d8decd 1px solid
  border-top: none
  background-color: #eef5e1
  width: 100%
  margin-bottom: 40px
  position: relative      
  
p
  letter-spacing: 0
  line-height: 1.5em
  margin-bottom: 20px


#opening-times
  :float  right    
  :display  block
  
  table
    :background-color transparent
    :border-style none     
    
.td-wrapper
  :position relative
    
td  
  border-top: #bbc3ad 1px solid
  border-bottom: #FFF 1px solid
  vertical-align: middle
  min-height: 20px
  padding-left: 15px
  position: relative
  
a
  color: #e76f00
  text-decoration: none

  &:hover
    border-bottom: 1px solid      


.tooltip
  display: none
  font-size: 11px
  color: #fff

  .label
    color: yellow
    width: 35px

  a
    color: #ad4
    font-size: 11px
    font-weight: bold
