//@import rapid-ui.sass
//@import reset.sass
@import layout.sass
//@import elements.sass
//@import ordering.sass
//@import invite_others.sass    

 
  
  
.print-only, .hidden
  :display none           
  
  
h1, h2, h3, h4, h5, h6
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif


body, p, td, li, ul, ol
  font-family: Verdana,Helvetica,Arial,sans-serif
                                                  
.links a
  font-weight: bold

