=rounded-corners(!radius=15px) 
  :-moz-border-radius = !radius
  :-webkit-border-radius = !radius
  
=rounded-top-corners
  :-moz-border-radius-topright .5em
  :-webkit-border-top-right-radius .5em
  :-moz-border-radius-topleft .5em
  :-webkit-border-top-left-radius .5em
  
=rounded-bottom-corners
  :-moz-border-radius-bottomright .5em
  :-webkit-border-bottom-right-radius .5em
  :-moz-border-radius-bottomleft .5em
  :-webkit-border-bottom-left-radius .5em
  
=float-left-shrink-wrapped
  :float  left
  :display  inline-block
  
// From Fernando's design

=right_arrow_icon
  background-image: url(../images/arrow-right.gif)
  background-position: 85% 50%
  background-repeat: no-repeat
  border: 5px solid #D8DECD
  