//form#login a.login, form#login a.goback
//  :margin 0 10px 10px 10px
//
//form #login a.login
//  color: rgba(0,0,0,0.9)


form#login a
  &.login, &.goback
    margin: 0 10px 10px 10px

  &.login
    color: rgba(0,0,0,0.9)

.made-order-controls
  margin: 0 10px 10px 10px

.made
  :background-color blue
  
.queued
  :background-color green
  
#show-queued-order .total
  :float right
  margin: 0 46px 10px 10px          
  font: bold 18px Helvetica
  text-shadow: rgba(255,255,255,.2) 0 1px 1px
  color: rgb(76, 86, 108)
  

.hidden
  :display none