-menu = @menu || @menu_item.menu
-semantic_form_for form do |f|                               
  -f.inputs do
    =f.input :name, :hint=>"As it will appear on the menu"
    =f.input :description, :hint=>"Sounds delicious"
    =f.input :price, :as=>:numeric, :hint=>"Leave blank if priced according to size"
    =f.input :item_queue_id, :collection=>menu.shop.item_queues, :hint=>"Which queue in the kitchen will receive orders for this item"
  =f.buttons