-menu = @menu || @menu_item.menu
-semantic_form_for form do |f|                               
  -f.inputs do
    =f.input :name
    =f.input :description
    =f.input :price, :as=>:numeric
    =f.input :item_queue_id, :collection=>menu.shop.item_queues
  =f.buttons