html {
  background: #fefffe; }

body {
  background-color: transparent; }

#account-nav {
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#content {
  background-color: #ccd4a4;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#content-header {
  background-color: #e3d882;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em; }

#aside {
  min-height: 200px;
  height: auto !important;
  height: 200px;
  background-color: #4f6354;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#footer {
  margin-top: 18px;
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

.print-only, .hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; }

body, p, td, li, ul, ol {
  font-family: Verdana,Helvetica,Arial,sans-serif; }

.links a {
  font-weight: bold; }

#page-footer {
  margin-top: 90px;
  width: 100%;
  background: url(/gradient_images/54:FEFEFD:FEFEFD::18:666:555::27:555:AAA.png) repeat-x #FEFEFD; }

.email-message {
  background-color: #FEFEFE;
  border-style: solid;
  border-color: black;
  border-width: 1px; }
