html {
  background: #8cbad0; }

body {
  background-color: transparent; }

#account-nav {
  background-color: #e3d882; }

#content {
  background-color: #fefffe;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#aside {
  min-height: 200px;
  height: auto !important;
  height: 200px;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#footer {
  margin-top: 18px;
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

.print-only, .hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; }

body, p, td, li, ul, ol {
  font-family: Verdana,Helvetica,Arial,sans-serif; }

.links a {
  font-weight: bold; }

#page-footer {
  margin-top: 90px;
  width: 100%;
  background: url(/gradient_images/54:8CBAD0:8CBAD0::18:666:555::27:555:AAA.png) repeat-x #FEFEFD; }

.email-message {
  background-color: #FEFEFE;
  border-style: solid;
  border-color: black;
  border-width: 1px; }

thead th {
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif;
  background: transparent;
  color: #50341A;
  border-bottom-style: solid;
  border-bottom-color: #B08B5E;
  border-bottom-width: 1px;
  font-size: 2em; }

.order-form thead th {
  font-size: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif;
  background: transparent;
  color: #50341A; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 3.2em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

.sub-total td, .total td, td.user-header {
  font-weight: bold; }
