.content-header {
  float: left;
  width: 100%;
  margin-bottom: 3em; }

.logo {
  float: left;
  width: 40%;
  font: 3em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }

.slogan {
  float: right;
  width: 40%;
  margin: 1em 10% 1em;
  font: 1.8em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }

.blurb {
  float: left;
  width: 50%;
  margin: 0 5% 1em; }
  .blurb ol {
    float: left;
    width: 100%; }
    .blurb ol li {
      display: inline; }

.cafe-blurb {
  float: right;
  width: 30%; }

.sign-up {
  display: inline-block;
  background: white;
  float: right;
  margin: 1em 5% 0;
  padding: 5px;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  text-align: center; }
  .sign-up button {
    font: 1.5em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }

.search-panel {
  float: left;
  width: 50%;
  margin: 0 10% 2em; }
  .search-panel .form {
    display: inline-block;
    padding: 5px;
    background: #fff;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em; }
    .search-panel .form .search {
      white-space: nowrap; }
  .search-panel input {
    font: 1.5em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif; }

ul.shops {
  float: left;
  width: 70%;
  list-style: none; }

form.shop {
  margin: 2em auto 2em 10%;
  text-align: left; }

.print-only, .hidden {
  display: none; }
