html {
  background: #8cbad0; }

body {
  background-color: transparent; }

#account-nav {
  background-color: #e3d882; }

#content {
  background-color: #fefffe;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#aside {
  min-height: 200px;
  height: auto !important;
  height: 200px;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#footer {
  margin-top: 18px;
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }
