html {
  background: #fefffe; }

body {
  background-color: transparent; }

#account-nav {
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#content {
  background-color: #ccd4a4;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }

#content-header {
  background-color: #e3d882;
  -moz-border-radius-topright: .5em;
  -webkit-border-top-right-radius: .5em;
  -moz-border-radius-topleft: .5em;
  -webkit-border-top-left-radius: .5em; }

#aside {
  min-height: 500px;
  height: auto !important;
  height: 500px;
  background-color: #4f6354;
  -moz-border-radius-bottomright: .5em;
  -webkit-border-bottom-right-radius: .5em; }

#footer {
  margin-top: 18px;
  background-color: #e3d882;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em; }
