form#login a.login, form#login a.goback {
  margin: 0 10px 10px 10px; }
form#login a.login {
  color: rgba(0,0,0,0.9); }

.made-order-controls {
  margin: 0 10px 10px 10px; }

.whiteButton {
  margin: 0 10px 10px 10px; }

.made {
  -webkit-border-image: url(/images/smallbubble.png) 7 10 12 10 stretch stretch;
  background-color: blue; }

.queued {
  -webkit-border-image: url(/images/smallbubble.png) 7 10 12 10 stretch stretch;
  background-color: green; }

.old {
  background-image: url(/images/old.png); }

#show-queued-order .total {
  float: right;
  margin: 0 46px 10px 10px;
  font: bold 18px Helvetica;
  text-shadow: rgba(255,255,255,.2) 0 1px 1px;
  color: rgb(76, 86, 108); }

li a {
  width: 70%; }

.hidden {
  display: none; }
