
This is the activation code for your new shop:

Activation Code: #{@shop.activation_code}

Please enter this code on the Email Confirmation screen to activate your
shop and continue.
  
Thanks
The Cafebop Team
#{root_url}

PS: If you didn't create a shop with Cafebop and you don't know what this
is about, you can safely ignore it.
