:plain
  
  Hello #{@claim.user},
  
  Unfortunately, your claim for #{@claim.shop} was unsuccessful.

  We were unable to verify that you are the owner or manager of #{@claim.shop}.
  
  If you believe that this is in error, you may reply to this email.

  
  -The Cafebop Team
  
