:plain               
  The following claim has been registered:

  User: #{@claim.user} (#{@claim.user.email})
  
  Shop: #{@claim.shop.name}
  
  Please review this claim as soon as possible at:
  
  #{claim_url(@claim)}
  
  If you don't know why you're receiving this email. Please 
  reply to this message so that we can correct our records.