:plain

  Your order for #{@order.shop} is ready. If you haven't already, you should head
  down to #{@order.shop} to collect it.
  
  Full details are here:
    #{order_url(@order)}
  
  Feedback: Send complaints, praise or suggestions by replying to this email.
