:plain

  Your order for #{@shop} is ready. If you haven't already, you should head
  down to #{@shop} to collect it.
  
  Full details are here:
    #{order_url(@order)}

-if @user.reputation > 2
  :plain
    Thank you for being a reliable customer.
-else
  :plain
    Help us serve you better.
    Build your reputation by always picking up your orders.
