:plain
  A restaurant that you manage will has stopped accepting payments via PayPal:
  
  Restaurant: #{@shop.name}
  
  Payments to: #{@shop.paypal_recipient}
  
  This means that your customers will no longer be able to pay for items online
  via PayPal.
  
  If you are not the owner or manager of #{@shop.name} or don't know why you're
  receiving this email, please reply so that we can correct our records.
  
  
  Kind Regards
  Cafebop Team