:plain
  A restaurant that you manage will now accept online payments via PayPal:
  
  Restaurant: #{@shop.name}
  
  Payments to: #{@shop.paypal_recipient}
  
  This means that your customers will expect to be able to collect items that they
  have already paid for and sent to the queues from your shop staff.
  
  You must therefore:
  
  - Ensure that the #{@shop.paypal_recipient} is attached to a PayPal merchant account
  under your control.
  
  - Ensure that you have correct opening hours specified for the shop.
  
  - Ensure that all queues are being monitored at the shop so that staff can
   fulfil the orders in a timely manner.
   
  - Ensure that your staff can recognise queued orders that have been paid for as
  opposed to those which haven't.
   
  If you aren't ready to do this yet, we strongly recommend disabling PayPal orders
  until such time as you are ready.
    
  
  If you are not the owner or manager of #{@shop.name} or don't know why you're
  receiving this email, please reply so that we can correct our records.
  
  
  Kind Regards
  Cafebop Team