:plain
  Order queuing has been disabled for a restaurant that you manage:
  
  Restaurant: #{@shop.name}
  
  This means that customers can no longer send items to queues in your shop.
  
  If you are not the owner or manager of #{@shop.name} or don't know why you're
  receiving this email, please reply so that we can correct our records.
  
  
  Kind Regards
  Cafebop Team