:plain
  Order queuing has been enabled for a restaurant that you manage:
  
  Restaurant: #{@shop.name}
  
  This means that your customers will expect items that are sent to the queues
  to be made.
  
  You must therefore:
  
  - Ensure that you have correct opening hours specified for the shop.
  
  - Ensure that all queues are being monitored at the shop so that staff can
   fulfil the orders in a timely manner.
   
  If you aren't ready to do this yet, we strongly recommend disabling queuing
  until such time as you are ready.
    
  
  If you are not the owner or manager of #{@shop.name} or don't know why you're
  receiving this email, please reply so that we can correct our records.
  
  
  Kind Regards
  Cafebop Team