:plain
  Thanks for joining Cafebop. You can now wrangle coffee and lunch orders for a whole office effortlessly.
  
  Login at #{@root_url} to start.

  We're just getting started with Cafebop. So we'd love to hear what you think.
  Please send feedback to #{@feedback_email}.

  Regards
  Cafebop Team