%h3 Nice One!

.about
  %p
    Your shop #{@new_shop.name} is now online at
    #{link_to(root_url(:subdomain=>@new_shop.permalink), root_url(:subdomain=>@new_shop.permalink))}.
  %p
    Click on your shop link above to start editing your menu and other details.

  
  