%h3 Nice One!

%p
  Your shop #{@new_shop.name} is now online at
  #{link_to(new_shop_order_url(@new_shop), new_shop_order_url(@new_shop))}.
%p
  We've created some sample menus based on the cuisines you chose but these
  are almost certainly not accurate so the next step is to edit or import
  your menus.

  
  