%h3 Choose a password

%p
  An account has been created for you to manage your new shop. You will
  need to set a password for the account.

-semantic_form_for current_user, :url=>set_password_for_shop_signup_path(@new_shop) do |f|
  - f.inputs do
    = f.input :email, :label=>"Your email", :disable=>true
    = f.input :password, :as=>:password, :label=>"Choose a password"
    = f.input :password_confirmation, :as=>:password, :label=>"Same password again"
  - f.buttons do
    =f.commit_button :button_html=>{:value=>'Set Password'}

