%h4 Please choose a cuisine...
  
-semantic_form_for @shop do |f|
  -f.inputs do
    =f.input :cuisines, :as=>:check_boxes, :hint=>"Please choose one or more of the above", :collection=>Cuisine.is_not_franchise
  -f.buttons do
    =f.commit_button :label=>"Next"
