-if @order and @order.close_time
  #close_time_countdown
  :javascript
    $(function() { // page ready
    	jQuery("#close_time_countdown").countdown({
    	  until: new Date('#{@order.close_time.strftime("%B %d, %Y %I:%M:%S %p %Z")}'),
    	  format: 'dhmS',
        description: 'Until order closes',
        expiryText: 'Order is now closed'
    	  });
    }); 
