-if @order and @order.close_time

  -if @order.is_child?
    :javascript
      expiry_message = "Order is about to close!";
  -else
    :javascript
      expiry_message = "Select a payment method below.";

  .order_close_time
    -if @order.closed?
      .closed-message.hasCountdown
        -if @order.is_child?
          Order is about to close!
        -else
          Select a payment method below.
    -else
      #close_time_countdown
      :javascript
        order_close_time = new Date('#{@order.close_time.strftime("%B %d, %Y %I:%M:%S %p %Z")}');
        $(function() { // page ready
        	jQuery("#close_time_countdown").countdown({
        	  until: order_close_time,
        	  format: 'dhmS',
            description: 'Until order closes.',
            expiryText: expiry_message,
            onExpiry: order_timer_expired
        	  });
        }); 
      -unless @order.is_child?
        .close-early
          =link_to "[Close Order Early]", close_order_path(@order), :method=>:put, :confirm=>"Are you sure?"
