-if @order and @order.close_time
  .order_close_time
    -if @order.closed?
      .closed-message
        Order is about to close!
    -else
      #close_time_countdown
      :javascript
        order_close_time = new Date('#{@order.close_time.strftime("%B %d, %Y %I:%M:%S %p %Z")}');
        $(function() { // page ready
        	jQuery("#close_time_countdown").countdown({
        	  until: order_close_time,
        	  format: 'dhmS',
            description: 'Until order closes.',
            expiryText: 'Order is about to close!',
            onExpiry: order_timer_expired
        	  });
        }); 
      -unless @order.is_child?
        =link_to "[Close Order Early]", close_order_path(@order), :method=>:put, :confirm=>"Are you sure?"
