-unless @order.child_orders.empty?
  %table#invited-friends
    %thead
      %tr
        %th Friend
        %th Status
    %tbody#invited-friends-entries
      != render :partial => 'child_order', :collection=>@order.child_orders
-else
  -if @order.can_send_invites?
    %h6 At work?
    See if your friends or co-workers want anything from #{@order.shop}.
    =button_to "Offer Friends", invite_order_path(@order), :method=>:get, :id=>'offer-friends-button'
  
!= render :partial => 'close_time_counter'

-if @order.is_child?
  -originator = @order.parent.user
  %table
    %tr
      %td=image_tag originator.gravatar_url, :alt=>originator.to_s
      %td You must confirm your order below for #{h originator.to_s} to collect it for you.
      
  