

%h3 Menu Items
%ul
  -if @shop.menus.empty?
    This shop has no menus :(
  -else
    -@shop.menus.each do |menu|
      %h4=h menu.name
      -menu.menu_items.each do |menu_item|
        -if menu_item.present_flavours
          -menu_item.flavours.each do |flavour|
            =render :partial=>'ordering_card', :locals=>{:card_for=>flavour, :item=>menu_item}
        -else
          =render :partial=>'ordering_card', :locals=>{:card_for=>menu_item, :item=>menu_item}

-content_for :aside do        
  %h3 Your Order
  -form_for ordering_form do |form|
    %table
      %thead
        %tr
          %th Qty
          %th Description
          %th Notes
          %th Cost($)
          %th

      %tbody#order_items

      %tfoot
        %tr
          %td(colspan="3") Total
          %td#total 0.00  
    = submit_tag
  

.hidden
  #dialog{ :title => "Add to Order" }
    %form
      %fieldset
        %label{ :for => "quantity" } Qty
        %input#quantity_field.text.ui-widget-content.ui-corner-all{ :name => "quantity", :type => "text" }
        #flavour_details
          %label{ :for => "flavour" } Flavour
          %select#flavour_field.select.ui-widget-content.ui-corner-all{ :name => "flavour" }
        #size_details
          %label{ :for => "size" } Size
          %select#size_field.select.ui-widget-content.ui-corner-all{ :name => "size" }
        %label{ :for => "notes" } Notes
        %input#notes_field.text.ui-widget-content.ui-corner-all{ :name => "notes", :type => "text", :value => "" }
        %input#details_field{ :name => "details", :type => "hidden", :value => "" }
      
