%tr
  -order = order_item.order
  -if show_user
    -if order_item_counter == 0
      %td.user-header="#{h order.user}"
    -else
      %td
  %td=h order_item.quantity
  %td=h order_item.description
  %td=h number_to_currency(order_item.cost)
  -if @order.printed?
    %td.print-only=check_box_tag('x')
  -elsif !order.group.pending?
    %td=order_item.state
  %td=h order_item.notes
