-if @shop.community?  
  .price-warning
    The menu for this shop is maintained on a best effort basis and has not been verified by
    =h @shop.name
    \. The items and prices listed here may be (wildly) inaccurate.
    =link_to "More...", why_inaccurate_content_path
