%table.order-summary#order-summary
  %thead
    %tr
      -if @order.is_parent?
        %th
      %th Qty
      %th Description
      %th Cost($)
      %th Status
      %th

  %tbody#order_items
    != render :partial => 'summary_rows', :object=>@order
    != render :partial => 'summary_rows', :collection=>@order.child_orders.state_eq('confirmed').all(:include=>:order_items), :spacer_template=>'empty_row'
    
  %tfoot
    %tr.total
      %td(colspan="3") Total
      %td=h number_to_currency(@order.grand_total)
                                      
-unless @order.state == "printed"
  =h "Order status: #{@order.state}"    

= render :partial => 'shop_blurb'
