%table
  %thead
    %tr
      %th Qty
      %th Description
      %th Notes
      %th Cost($)
      %th Status

  %tbody#order_items
    -@order.order_items.each do |item|
      %tr
        %td=h item.quantity
        %td=h item.description
        %td=h item.notes
        %td=h number_to_currency(item.cost)
        %td=(@order.printed? ? check_box_tag('x') : item.state)

  %tfoot
    %tr
      %td(colspan="3") Total
      %td=h number_to_currency(@order.total)
                                      
-unless @order.state == "printed"
  =h "Order status: #{@order.state}"    
%hr      
="Last updated: #{Time.now}" 
= render :partial => 'shop_blurb'
