-order = summary_rows
!= render :partial => 'order_item', :collection=>order.order_items

-if order.is_in_group?
  %tr.sub-total
    %td(colspan="2")  
    %td #{h order.user} pays
    %td=h number_to_currency(order.total)
