%h3 Too late!

-parent = @order.parent
%p
  The ship has sailed, the horse has bolted and #{h parent.user} has closed the order.

%h5 You want a job done properly...
  Of course, you could always #{link_to "start a new order", new_shop_order(@order.shop)} for #{h @order.shop}.