%h3

-if current_user
  -semantic_form_for @order do |f|
    %table
      %thead
        %tr
          %th Offer
          %th Email
      %tbody
        -current_user.friends.each do |friend|
          %tr
            %td=check_box_tag "order[invited_user_attributes][]", friend.email, true, :id=>"invite_user_#{friend.id}" 
            %td=h friend.email
    -if @order.close_time
      != render :partial => 'close_time_counter'
    -else
      =f.input :minutes_til_close, :as=>:select, :collection=>[5, 10, 15, 20, 25, 30, 45, 60]
            
    =submit_tag "Send Invites"
-else
  -semantic_form_for UserSession.new do |f|
    -f.inputs do
      =f.input :email, :hint=>'To invite others, we need your email address'
      =f.input :password, :as=>:password
      =f.buttons
