%h3

-if current_user
  -semantic_form_for @order do |f|
    -if @order.close_time
      Timer will appear here
    -else
      =f.input :minutes_til_close, :as=>:select, :collection=>[5, 10, 15, 20, 25, 30, 45, 60]
    %table
      %thead
        %tr
          %th Offer
          %th Email
      %tbody
        -current_user.friends.each do |friend|
          %tr
            %td=check_box_tag "order[invited_user_attributes][]", friend.id, true, :id=>"invite_user_#{friend.id}" 
            %td=h friend.email
    =submit_tag "Send Invites"
-else
  No user associated with order