-shop = @order.shop
=render :partial => 'shop', :object=>shop

-if @order.pending?
  =link_to "&lt;&lt; Change", edit_order_path(@order)

  -if shop.accepts_in_shop_payments?
    =link_to "Pay In Shop &gt;&gt;", pay_in_shop_order_path(@order), :method=>:put
    %br

  -if shop.accepts_paypal_payments?
    =link_to "Pay with PayPal &gt;&gt;", pay_paypal_order_path(@order), :method=>:put

=render :partial=>'order_summary'

-#=link_to "Add another", root_path    