%h1=@order.id

-if @order.pending?
  =link_to "&lt;&lt; Change", edit_order_path(@order)
  =link_to "Confirm &gt;&gt;", confirm_order_path(@order), :method=>:put
-else

=render :partial=>'order_summary'

-#=link_to "Add another", root_path    