#show-order.current
  .toolbar
    -unless current_page? root_path
      %a.back Back
    %h1 #{@title || @shop || "Cafebop"}
    %a#login-button.button.slideup{:href=>"#login"} Login
    %a#logout-button.button{:href=>"#"} Logout

  %h1 #{h @order.user}

  %ul
    -@order.summarized_order_items.each do |order_item|
      %li.arrow #{link_to order_item, order_item_path(order_item)}