%table
  %thead
    %tr
      %th Qty
      %th Item
      %th Notes
  %tbody
    -if @item_queue.current_items.empty?
      %td
      %td{:span=>"2"} No Items
    -else
      = render :partial=>'order_items/order_item', :collection=>@item_queue.current_items

= "Last Updated: #{Time.now}"
                                                   