#show-order-item.current
  .toolbar
    -unless current_page? root_path
      %a.back Back
    %h1 #{@title || @shop || "Cafebop"}
    %a#login-button.button.slideup{:href=>"#login"} Login
    %a#logout-button.button{:href=>"#"} Logout

  %h1 #{@order_item.quantity} #{h(@order_item.description)}

  -form_for @order_item, :url=>{:action=>:make} do |f|
    =link_to "Make", nil, :class=>"whiteButton submit"

