%table
  %thead
    %tr
      %th Qty
      %th Item
      %th Notes
  -if @orders.empty?
    %tbody
      %tr
        %td
        %td{:span=>"2"} No Pending Orders
  -else
    = render :partial=>'orders/order', :collection=>@orders

= "Last Updated: #{Time.now}"
                                                   