%table
  %thead
    %tr
      %th Qty
      %th Item
      %th Notes
  %tbody
    -if @queue.current_orders.empty?
      %td
      %td{:span=>"2"} No Pending Orders
    -else
      = render :partial=>'orders/order', :collection=>@queue.current_orders

= "Last Updated: #{Time.now}"
                                                   