#queue_status
  = render :partial => 'status'

#collection-section
  =render :partial=>'current_orders'
= periodically_call_remote :update=>'collection-section', :url=>current_orders_customer_queue_path(@queue), :frequency=>20, :method=>'GET'

