.span-24.benefits.last
  .span-1  
    \&nbsp;
  .span-4  
    =image_tag 'eyes.png'
  .span-6
    %h6 Be Seen
    %p
      Increasingly people make their buying decisions using the
      web. What will customers find when they search for takeaway
      food in your area? Publish your business's key details online
      now for free.         
  .span-1
    \&nbsp;
  .span-4  
    =image_tag 'work_coffee.png', :size=>'128x128'
  .span-6
    %h6 Sell a $20 Coffee
    %p
      Cafebop not only lets your customers order online, they can
      invite their friends and co-workers into the order too. This
      can turn an order for one coffee into a $20-plus order.
  .span-2.last
    \&nbsp;
 
.span-24.last
  .span-1  
    \&nbsp;
  .span-4  
    =image_tag 'waiting_room.png', :size=>'128x128'
  .span-6          
    %h6 Why make them wait?
    %p
      Office workers usually have strict time limits on their lunch
      and coffee breaks. Ordering online makes sense for them
      because the order can be ready by the time they reach your
      shop.
  .span-1
    \&nbsp;
  .span-4  
    =image_tag 'paint.png', :size=>'128x128'
  .span-6
    %h6 Look Good
    %p
      Customising your menu with your own artwork is easy. So your online
      menu is consistent with your real-world image.
      
