%h3 Cafebop FAQ

%h4 General
%ul
  %li
    %p.question What is Cafebop?
    %p
      Cafebop is a social food ordering system. It allows you to order food or
      drinks for one person or coordinate an order for a group of people.
  %li 
    %p.question How does it coordinate the order?
    %p
      After you've picked a shop and chosen what you're having, you can invite
      other people to order from the same shop. You have to enter their email
      once so that we can contact them. Next time, it will remember them.
    %p
      They then have the amount of time you specified to place their order.
      You end up with a single order with everyone's items on it.
    %li
      %p ...and how is this better than just asking them?
      %p
        %ol
          %li It doesn't interrupt anyone who's trying to work. They can simply ignore the email.
          %li It makes it clear to everyone how you'll wait for them to make up their mind.
          %li It saves you time collating everyone's orders and working out who owes whom what.
          %li Finally, if the shop is set up for it, you can simply queue the order straight to the shop and get notified when its ready.
      
  %li 
    %p.question Where does my order go?
    %p
      It depends. If the shop has set it up, the order can be queued direct to the shop. They make it and you get notified once it's ready.
    %p
      You can still make orders for shops that haven't set up order queuing and simply print the order to take or fax to the shop.
  %li 
    %p.question The shop I want to order from isn't on there. What do I do?
    %p No problem. If the shop you want doesn't appear when you search, just click "Add Shop" and enter the name and address.
    
  %li
    %p.question How come the menus aren't accurate?
    %p Shops that are maintained by the owner should have accurate menus.
    %p Shops that aren't will have generic menus based on the type of shop they are.
    %p It costs the shop nothing to set up accurate menus so if you want to use the system, its probably in their interest to do so.

  %li
    %p.question What happens to our email addresses? Am I going to be spammed now?
    %p
      In short, no. We won't be selling your email address. For full details,
      please see our #{link_to_privacy_policy "privacy policy"}.
  %li 
    %p.question I'm having trouble using the system how do I get help?
    %p Easy. Email us at #{mail_to "support@cafebop.com"}.
  %li 
    %p.question I have a suggestion for improving Cafebop.
    %p We'd love to hear it. Please email us at #{mail_to "ideas@cafebop.com"}.


/ %h4 Shop Owners

/ %ul
/   %li
/     $p.question
/   %li
/   %p.question How do I edit the menus on my own shop?
/   %p The first thing you have to do is claim the shop. Find the 