%h3 Online Order Queuing

%p
  We think it's pretty cool to have the system collate a group order for you
  but the printing it out and taking it to the shop part is still a bit clunky.
%p
  What would be better is if the shop received your order online and had it ready
  by the time you got there. Well they can. And yes, it's still free.
%p
  A shop's staff can set it up with accurate menus, opening
  times and branding. When they're ready, they can enable queuing. That means,
  orders placed will automatically be sent to the shop to be made.
%p
  The shop ticks off each order item as it's made and the customer is notified
  as soon as the order is made so that they can go and pick it up.