
.span-24.last
  .span-8
    .step-box
      %h6 1. Publish Your Menu
      Simply email your menu to #{mail_to 'menus@cafebop.com.au'} and we'll
      publish it for free. No catch.
  .span-8
    .step-box
      %h6 2. Brand it
      Stand out from the crowd by uploading your custom header and background
      images.
  .span-8.last
    .step-box
      %h6 3. Take Online Orders
      Cafebop makes it trivially easy to start taking orders online. Customers
      still pay in-store so there are no financial transaction charges.
.span-24.last
  %hr
!= render :partial => 'benefits'
