%h3 Pricing & Signup

%table#pricing 
  %thead
    %tr
      %th
      %th
        .title Express
        .cost Free
          
      %th 
        .title Professional
        .cost $29/month
        
    %tbody
      %tr
        %td Setup Fee
        %td None
        %td None

      %tr
        %td Monthly
        %td None
        %td None
    
      %tr
        %td Setup Fee
        %td None
        %td None

      %tr
        %td Customers see ads while ordering
        %td Yes
        %td No
  
      %tr
        %td Customisable Theme
        %td No
        %td Yes

      %tr
        %td Order Queue Polling Rate
        %td Slow
        %td Fast
        
      %tr
        %td Online Payment
        %td No
        %td Yes (PayPal)

      %tr
        %td Support
        %td Discussion Forum
        %td Discussion Forum or email

      %tr
        %td Prices in USD
        %td= link_to "Sign Up", new_shop_signup_path
        %td Coming Soon


      
        