%h3 Privacy Policy

%p
  Cafebop needs certain information about each user of the system in order to provide
  our services.
%p
  We will not disclose any personally identifiable information to any third party unless either:
%ul
  %li it is required for the operation of the system (eg, we must provide email addresses to an email gateway provider)
  %li we are legally required to do so (eg via a court order)
