%h3 Privacy Policy

Cafebop needs certain information about each user of the system in order to provide
our services.

We will not disclose any personally identifiable information unless we are legally
bound to do so.