%h3 Cafebop Terms of Use

%p
  By using this web site (hereafter referred to as "the service"),
  you are agreeing to be bound by the following terms and conditions.

%h6 General
%ol
  %li
    The service is provided as is. Cafebop do not guarrantee the availability,
    accuracy, timeliness of the service.
  %li
    Cafebop reserve the right to disable or remove the any user or shop from the
    system at any time for any or no reason. 
  %li
    You grant Cafebop a licence to disclose, publish or reproduce any data or
    information that you provide to the system as required to provide the service.
  %li
    Cafebop may alter or discontinue the service at any time without prior notice.
                
%h6 Shop Owners
%ol
  %li You must be 18 years or older to create a shop.
  %li You may only create a shop if you are the owner or the manager of that shop.
  %li Any data that you enter into the system is, to your knowledge, accurate.
  %li You will enter accurate opening and closing hours for your shop.
  %li
    If you enable queues for your shop, you will monitor those queues during the
    opening hours you have specified and endeavour to fill any orders that are queued.
  %li
    By PayPal payment, you agree that payments made through the site will be directed to
    the PayPal account specified as the PayPal recipient in the shop edit screen.
  %li
    Before enabling PayPal payments, you will ensure that you have published a
    refund policy and you will adhere to that refund policy.
  %li
    You will only upload artwork and other files to the service of which you are
    the legal owner.
  %li
    You grant Cafebop an unlimited licence to publish or reproduce any artwork
    or files uploaded.
