%h3 Social Food Ordering?

%p
  So I'm sitting in the office and thinking it would be nice to get a coffee from the
  shop.
%p
  Do I:
  %ul
    %li just go down and get one and ignore my (possibly caffeine-deficient) colleagues 
    %li grab a stick-note and walk around the office disturbing everyone to see if they want something
    
%p
  "No!" I exclaimed and I opted for a third way. A way so brilliant only a moron could think
  of it. I quit my job and went home to write Cafebop. The best and possibly only
  social food ordering website.
%p  
  It goes like this:
  %ol
    %li Find a cafe from which to buy your coffee or snack
    %li Order from its menu
    %li Choose who else to ask (if anyone) and specify when you're going (eg 10 minutes)
    %li Social ordering magic happens
    %li Print out the collated order and take it to the shop
%p
  No more social awkwardness. No more disturbing people.
