%h3 Why Inaccurate?

%h5 Why is this menu not accurate?

%p
  Cafebop is primarily a <a href="social_ordering">social food ordering service</a>. 
%p  
  When faced with the dilemma that all startups are faced with (great idea, shame
  nobody knows about you), we decided it was better to let our users order even
  if the shop owners didn't know about us yet.
%p
  So when we find out about a restaurant, we put up an approximate menu for them
  based on the types of cuisine they offer.
%p
  If people like our social ordering services and keep taking our orders to the
  shop, then the people in the shop will probably figure out that they can claim
  their shop and set it up as it should be with accurate menus, opening time and
  even online order queuing. This, by the way, is really easy and doesn't cost
  the shop anything.

%h5 What can be done about this?

%p
  Well, if you own or manage the shop concerned, you can click the "Hey, that's
  my shop" link. Once we verify that it really is, you can set it up so that it's
  just so and your store has an online presence with your branding and an up to
  date menu that your customers can order from.
%p
  If you'd like those orders sent directly to your shop, setup an in-store queue
  (very easy and still free) and you can have the food ready by the time the
  customer walks in the door.
%p
  If it's not your shop but you really like the idea of sending your order in online,
  maybe you could print out your order, take it to the shop and clear your throat a
  a couple of times whilst pointing to the shop owner's blurb on the order.