#about.selectable
  %p
    =image_tag 'logo.png', :size=>'250x100'
  %p
    %strong
      Cafebop
    beta
    %br
  %p
    %em
      Online food ordering for everyone
  %p
    %a{ :href => "http://twitter.com/cafebop", :target => "_blank" }
      @Cafebop on Twitter
  %p
    %br
    %br
    %a.grayButton.goback{ :href => "#" } Close
