=button_link_to_unless_current("Home", root_path) 
-if current_user.is_admin?
  =button_link_to_unless_current("Admin Dashboard", dashboard_path)
-if current_user.can_review_claims?
  =button_link_to_unless_current "Review Claims", claims_path
=button_link_to "Logout", logout_path
