#account-status.no-print
  %p
    -if current_user
      Logged in as #{current_user}.
      =link_to "Not #{current_user}?", login_path
    
#account-nav.no-print
  -if current_user
    != render :partial => 'layouts/authenticated_nav'
  -else        
    != render :partial => 'layouts/unauthenticated_nav'
