=link_to "Login", login_path(with_order_or_shop(@order, @shop).merge(:subdomain=>false)), :id=>'login-btn'
/ =button_link_to "Sign Up", signup_path(with_order_or_shop(@order, @shop).merge(:subdomain=>false)), :id=>'signup-btn'
